language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.2
    - extra-android-m2repository
    - extra-google-m2repository
    - android-28

jdk:
  - oraclejdk8

before_install:
  - ./check-missing-assertions.sh

script:
  - ./gradlew clean check

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "UzLuuxa+3x4eVBKKvI6EDHb+n0QZIUjYFU3XL3+nX5w9iMdrSaJK/xAym7K4gfjP56OyQyKBcVwX38lTItKhS2cRkoMpt1o3uX6qnwQFSxdU5Dxx5AhgjG3OcO2pN6z/z/gLX47b68XNLJSDjxOfeOeFYEJupszxwrDX/w7vsRkTED7rImtH2rJZAfZEn14e9mIT6zpgHYGUYsXh7PE1pxTOp0j4m3KCGryhS4dVoOmz7n/oaiZBnd65er++vBMKi3Zqf+toBj8VjHeR7GYwCcAEeUqe7bubpIGwYb32rlbx2b4Ji8R4vdXCK5/CO3BSMcuv2I4IejS7OUlm25nt9wTXTdMbzdY6d6N88c4UMPyJrSry01U5NsLgHnOI0Ycx+vKATvQpY0KX4CFN48Rxea1UtU+sgY0NdTOLoOj30r2e02AYshCc19eqTDwJ4F6yjPNWGJrchF+xtII4ev4HxLjHwEvF/+GHHvb5CoRx2Cmg+rUlq/Q1D3pe5AFVU1MlnTTfFpmIt4stHr+g71QwkGe2eRUre8OtaGUJBjVV/9m/uC15CdvTr2ZFskob7O9hfn0t74SwH/szxLcTlPJcm5kn5GNN4GTMrHNMwWc2UItWnDaBApLMp78kmaDi10Q1NVgaO2hGLryhcLVoBkq8cq2HAhTMUDlwK8ifNe0L/do="
    - secure: "tQNA/x2Q8tQWSBUtWgB4c/eaISSBnurKFrKGP60rIOvcd80TRfyKyrg4B4W1jZhiB/k7QJTgmrXjYXpBO4ukiCYcjfFobL+nU2cHKxSuyP53gw79xb/MM+wJ43d3fXrQp+LGz931eMkJrTGxxGOqo41YdMPXtF49yjcfeCDh3Ptd9ug5aqimO4yA/cMKrTEZXIg33XibbxhBOc62gLDjRoRVJUlgYL+sue8VEBFDZwu/H+X0m9No/CW0bc9tr2Qaa3vrp/aip0hXCc/1WTQ49hV0TdslW/aEBQg4IorhBQ+LcU21U1ZN1OAsG8d+0Oaxk+iPXAO49Xd4lyXokI7y2BxjBE0esdLKlXVIOnEFu49pRBx8Sdv/IorznrscmDZySRdHq2sdZ+Uu/E5YZCibWDS9Q5G3+9SA5CShLb1qCpCEjHSB97RT6vdFyq53lX0vT7FuyJul7oanmOwlcZmIwbyDCu9aheOJziYyMz1JYWNEjmW/NNpoOUGxoXoefBrk1DO0yjrmJaHC3euPLp3hpVC0N8zR7ppiNXUXAOpmRQ6AGQlOzapCmvqMQOnEX+3sv7TL8Zca2mAeMtMZpKGBV7pWmmz/wGvXiUmLkcPQRJb6EpOJKA96iRR9ZVPvf961thY7+iml/S4lRUmsgYsf+ONkYg/E/O4vBRs7XitIn+0="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle
